@font-face {
  font-display: fallback;
  font-family: "Noto Sans";
  font-style: bold;
  font-weight: 700;
  src: url("/assets/fonts/NotoSans-Bold.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/NotoSerif-Regular.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/NotoSerif-Italic.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Noto Serif";
  font-style: bold;
  font-weight: 700;
  src: url("/assets/fonts/NotoSerif-Bold.ttf");
}

body {
  background: #edcd830a;
  color: #222;
  font-family: "Noto Serif", serif;
  margin: 0;
  --horizontal-padding: 2rem;
}

article {
  padding: 2rem var(--horizontal-padding);
  max-width: 800px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

header {
  background: #99383b;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  padding: 1rem var(--horizontal-padding);
}

header a {
  color: inherit;
  text-decoration: none;
}
header a:hover,
header a:focus {
  text-decoration: underline;
}

hr {
  background-color: #888;
  border: none;
  height: 1px;
  margin: 2rem 0;
}

/* Drop cap */
@supports (initial-letter: 1) {
  article p:first-of-type::first-letter {
    initial-letter: 2.75;
    padding: 0 0.5rem 0.5rem 0;
  }
}

@media (min-width: 800px) {
  body {
    --horizontal-padding: 4rem;
  }
}
